.title{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.switchers{
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
}
.cell{
    height:200px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
    font-size: 100px;
}
.score{
    font-size: 30px;
    text-align: left;
}
.players{
    text-align: center;
    font-size: 30px;
}
