.title{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.switchers{
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
}
.cell{
    height:200px;
    border-width: 1px;
    border-color: white;
    color: white;
    border-style: solid;
    text-align: center;
    font-size: 150px;
    background-color: #0cc0a8;
}
.score{
    font-size: 30px;
    text-align: left;
}
.players{
    text-align: center;
    font-size: 30px;
}
.result{
    margin-top: 5%;
    font-size: 150px;
    text-align: center;
}