.title{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.cell{
    height:200px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}